* text=auto !eol
/README -text
/apertium-br-fr.br.acx -text
/apertium-es-ast.ast.dix -text
/apertium-es-ast.ast.tsx -text
/apertium-es-ast.es-ast.dix -text
/apertium-es-ast.es-ast.t1x -text
/apertium-es-ast.es.dix -text
/apertium-es-ast.es.tsx -text
/ast-es-unsupervised.make -text
ast-tagger-data/ast.crp.txt -text
ast-tagger-data/astwiki-20090122-pages-articles.xml.bz2 -text
dev/asturian.freqlist.txt -text
/es-ast-unsupervised.make -text
/es-ast.prob -text svneol=unset#unset
